

    *{
        margin: 0;
        padding: 0;
        background-color: #121212;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


body{
    position: rel

}

header{
    
    width: 100vw;
    height: 20vh;
    
    position: fixed;
    
}

.image{
    width: 15vw;
    padding-left: 40vw;
    
    
}


body > img{

    vertical-align: middle;
    width: 35vw;

}


footer{
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;
    font-variant: small-caps;
    text-align: center;
}

